$primary: #F84646;
$blanco: #FFFFFF;
$negro: #000000;
$gris-claro: #F4F5F7;
$gris: #808080;

$fuente: 'Manrope', sans-serif;
$fuente-footer: 'Inter', sans-serif;


$izquierda: left;
$derecha: right;


$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
